Report-Generation-Assistant (4).yml
app:
  description: 设备故障报告生成工作流（MVP 10节点基础链路，无知识库）
  icon: 🤖
  icon_background: '#E4FBCC'
  mode: workflow
  name: Report-Generation-Assistant
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1000000000001-source-1000000000002-target
      source: '1000000000001'
      sourceHandle: source
      target: '1000000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1000000000002-source-1000000000003-target
      source: '1000000000002'
      sourceHandle: source
      target: '1000000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1000000000003-source-1000000000004-target
      source: '1000000000003'
      sourceHandle: source
      target: '1000000000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1000000000004-source-1000000000005-target
      source: '1000000000004'
      sourceHandle: source
      target: '1000000000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1000000000005-source-1000000000006-target
      source: '1000000000005'
      sourceHandle: source
      target: '1000000000006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1000000000006-source-1000000000007-target
      source: '1000000000006'
      sourceHandle: source
      target: '1000000000007'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1000000000007-source-1000000000008-target
      source: '1000000000007'
      sourceHandle: source
      target: '1000000000008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1000000000008-source-1000000000009-target
      source: '1000000000008'
      sourceHandle: source
      target: '1000000000009'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1000000000009-source-1000000000010-target
      source: '1000000000009'
      sourceHandle: source
      target: '1000000000010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1000000000010-source-1000000000011-target
      source: '1000000000010'
      sourceHandle: source
      target: '1000000000011'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        title: start_input
        type: start
        variables:
        - label: report_id
          max_length: 64
          options: []
          required: false
          type: text-input
          variable: report_id
        - label: customer_name
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: customer_name
        - label: site_name
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: site_name
        - label: device_model
          max_length: 128
          options: []
          required: true
          type: text-input
          variable: device_model
        - label: device_sn
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: device_sn
        - label: fault_time
          max_length: 64
          options: []
          required: true
          type: text-input
          variable: fault_time
        - label: fault_count
          max_length: 8
          options: []
          required: false
          type: text-input
          variable: fault_count
        - label: fault_description
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: fault_description
        - label: fault_cause
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: fault_cause
        - label: event_record_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: event_record_text
        - label: waveform_analysis_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: waveform_analysis_text
        - label: overall_appearance_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: overall_appearance_text
        - label: upper_board_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: upper_board_text
        - label: lower_board_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: lower_board_text
        - label: power_device_measure_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: power_device_measure_text
        - label: site_research_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: site_research_text
      height: 640
      id: '1000000000001'
      position:
        x: 80
        y: 140
      positionAbsolute:
        x: 80
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        code: |
          import re

          def _norm(v, default='无'):
              if v is None:
                  return default
              s = str(v).strip()
              return s if s else default

          def _to_int(v, default=1):
              try:
                  n = int(str(v).strip())
                  return n if n > 0 else default
              except Exception:
                  return default

          def _keywords(*parts):
              tokens = []
              for p in parts:
                  s = _norm(p, '')
                  if not s:
                      continue
                  for t in re.split(r'[\s,，;；。.!！？/\\\-\|]+', s):
                      t = t.strip()
                      if len(t) >= 2:
                          tokens.append(t)
              dedup = []
              seen = set()
              for t in tokens:
                  if t not in seen:
                      seen.add(t)
                      dedup.append(t)
              return dedup[:12]

          def main(
              report_id: str = '',
              customer_name: str = '',
              site_name: str = '',
              device_model: str = '',
              device_sn: str = '',
              fault_time: str = '',
              fault_count: str = '1',
              fault_description: str = '',
              fault_cause: str = '',
              event_record_text: str = '',
              waveform_analysis_text: str = '',
              overall_appearance_text: str = '',
              upper_board_text: str = '',
              lower_board_text: str = '',
              power_device_measure_text: str = '',
              site_research_text: str = ''
          ) -> dict:
              missing = []
              if not str(device_model).strip():
                  missing.append('device_model')
              if not str(fault_time).strip():
                  missing.append('fault_time')
              if not str(fault_description).strip():
                  missing.append('fault_description')

              normalized_fault_summary = '；'.join([
                  f"机型：{_norm(device_model, '')}",
                  f"时间：{_norm(fault_time, '')}",
                  f"问题：{_norm(fault_description, '')}",
                  f"导向：{_norm(fault_cause)}"
              ])

              retrieval_keywords = _keywords(
                  device_model,
                  fault_description,
                  fault_cause,
                  event_record_text,
                  waveform_analysis_text
              )

              possible_parts = _keywords(
                  upper_board_text,
                  lower_board_text,
                  power_device_measure_text
              )
              possible_environment_factors = _keywords(site_research_text, overall_appearance_text)

              fact_summary = '\n'.join([
                  f"客户名称：{_norm(customer_name)}",
                  f"现场名称：{_norm(site_name)}",
                  f"设备型号：{_norm(device_model, '')}",
                  f"设备条码：{_norm(device_sn)}",
                  f"故障时间：{_norm(fault_time, '')}",
                  f"故障数量：{_to_int(fault_count)}",
                  f"故障描述：{_norm(fault_description, '')}",
                  f"故障原因导向：{_norm(fault_cause)}",
                  f"事件记录分析：{_norm(event_record_text)}",
                  f"波形分析：{_norm(waveform_analysis_text)}",
                  f"整体外观分析：{_norm(overall_appearance_text)}",
                  f"开盖上层板分析：{_norm(upper_board_text)}",
                  f"开盖下层板分析：{_norm(lower_board_text)}",
                  f"功率器件测量分析：{_norm(power_device_measure_text)}",
                  f"现场调研分析：{_norm(site_research_text)}"
              ])

              return {
                  'report_id': _norm(report_id, ''),
                  'customer_name': _norm(customer_name),
                  'site_name': _norm(site_name),
                  'device_model': _norm(device_model, ''),
                  'device_sn': _norm(device_sn),
                  'fault_time': _norm(fault_time, ''),
                  'fault_count': _to_int(fault_count),
                  'fault_description': _norm(fault_description, ''),
                  'fault_cause': _norm(fault_cause),
                  'normalized_fault_summary': normalized_fault_summary,
                  'retrieval_keywords': retrieval_keywords,
                  'possible_parts': possible_parts,
                  'possible_environment_factors': possible_environment_factors,
                  'fact_summary': fact_summary,
                  'missing_required_fields': missing
              }
        code_language: python3
        desc: 输入清洗与关键词提取
        outputs:
          customer_name:
            children: null
            type: string
          device_model:
            children: null
            type: string
          device_sn:
            children: null
            type: string
          fact_summary:
            children: null
            type: string
          fault_cause:
            children: null
            type: string
          fault_count:
            children: null
            type: number
          fault_description:
            children: null
            type: string
          fault_time:
            children: null
            type: string
          missing_required_fields:
            children: null
            type: array[string]
          normalized_fault_summary:
            children: null
            type: string
          possible_environment_factors:
            children: null
            type: array[string]
          possible_parts:
            children: null
            type: array[string]
          report_id:
            children: null
            type: string
          retrieval_keywords:
            children: null
            type: array[string]
          site_name:
            children: null
            type: string
        selected: false
        title: preprocess_input
        type: code
        variables:
        - value_selector:
          - '1000000000001'
          - report_id
          variable: report_id
        - value_selector:
          - '1000000000001'
          - customer_name
          variable: customer_name
        - value_selector:
          - '1000000000001'
          - site_name
          variable: site_name
        - value_selector:
          - '1000000000001'
          - device_model
          variable: device_model
        - value_selector:
          - '1000000000001'
          - device_sn
          variable: device_sn
        - value_selector:
          - '1000000000001'
          - fault_time
          variable: fault_time
        - value_selector:
          - '1000000000001'
          - fault_count
          variable: fault_count
        - value_selector:
          - '1000000000001'
          - fault_description
          variable: fault_description
        - value_selector:
          - '1000000000001'
          - fault_cause
          variable: fault_cause
        - value_selector:
          - '1000000000001'
          - event_record_text
          variable: event_record_text
        - value_selector:
          - '1000000000001'
          - waveform_analysis_text
          variable: waveform_analysis_text
        - value_selector:
          - '1000000000001'
          - overall_appearance_text
          variable: overall_appearance_text
        - value_selector:
          - '1000000000001'
          - upper_board_text
          variable: upper_board_text
        - value_selector:
          - '1000000000001'
          - lower_board_text
          variable: lower_board_text
        - value_selector:
          - '1000000000001'
          - power_device_measure_text
          variable: power_device_measure_text
        - value_selector:
          - '1000000000001'
          - site_research_text
          variable: site_research_text
      height: 320
      id: '1000000000002'
      position:
        x: 460
        y: 140
      positionAbsolute:
        x: 460
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        code: |
          def main(
              retrieval_keywords: list = None,
              device_model: str = '',
              fault_description: str = ''
          ) -> dict:
              kws = retrieval_keywords or []
              fallback = ['无匹配历史案例（MVP阶段未接入历史案例知识库）']
              notes = ['当前节点为占位实现，后续替换为 Knowledge Retrieval 节点。']
              if not kws:
                  notes.append('检索关键词为空，使用默认兜底片段。')
              snippets = fallback
              status = 'failed'
              query_preview = f"{device_model} | {fault_description}".strip()
              return {
                  'history_cases_snippets': snippets,
                  'history_retrieval_status': status,
                  'history_retrieval_notes': notes,
                  'history_query_preview': query_preview
              }
        code_language: python3
        desc: 历史案例检索占位（无知识库）
        outputs:
          history_cases_snippets:
            children: null
            type: array[string]
          history_query_preview:
            children: null
            type: string
          history_retrieval_notes:
            children: null
            type: array[string]
          history_retrieval_status:
            children: null
            type: string
        selected: false
        title: retrieve_history_cases
        type: code
        variables:
        - value_selector:
          - '1000000000002'
          - retrieval_keywords
          variable: retrieval_keywords
        - value_selector:
          - '1000000000002'
          - device_model
          variable: device_model
        - value_selector:
          - '1000000000002'
          - fault_description
          variable: fault_description
      height: 220
      id: '1000000000003'
      position:
        x: 860
        y: 140
      positionAbsolute:
        x: 860
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        code: |
          def main(
              retrieval_keywords: list = None,
              possible_parts: list = None,
              possible_environment_factors: list = None
          ) -> dict:
              kws = retrieval_keywords or []
              parts = possible_parts or []
              envs = possible_environment_factors or []
              fallback = ['无匹配产品知识（MVP阶段未接入产品知识库）']
              notes = ['当前节点为占位实现，后续替换为 Knowledge Retrieval 节点。']
              if not kws and not parts and not envs:
                  notes.append('缺少可检索线索，使用默认兜底片段。')
              snippets = fallback
              status = 'failed'
              query_preview = ' | '.join((kws + parts + envs)[:8])
              return {
                  'product_knowledge_snippets': snippets,
                  'product_retrieval_status': status,
                  'product_retrieval_notes': notes,
                  'product_query_preview': query_preview
              }
        code_language: python3
        desc: 产品知识检索占位（无知识库）
        outputs:
          product_knowledge_snippets:
            children: null
            type: array[string]
          product_query_preview:
            children: null
            type: string
          product_retrieval_notes:
            children: null
            type: array[string]
          product_retrieval_status:
            children: null
            type: string
        selected: false
        title: retrieve_product_knowledge
        type: code
        variables:
        - value_selector:
          - '1000000000002'
          - retrieval_keywords
          variable: retrieval_keywords
        - value_selector:
          - '1000000000002'
          - possible_parts
          variable: possible_parts
        - value_selector:
          - '1000000000002'
          - possible_environment_factors
          variable: possible_environment_factors
      height: 220
      id: '1000000000004'
      position:
        x: 1260
        y: 140
      positionAbsolute:
        x: 1260
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 生成致客户说明与问题描述
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: system-prompt
          role: system
          text: |
            你是设备故障报告专业撰写人。
            仅可基于输入事实和证据片段生成，不得新增事实。
            依据不足时必须标注“【证据不足】”。
            输出必须是合法 JSON，仅包含键：customer_letter, problem_description_refined, evidence_citation。
        - id: user-prompt
          role: user
          text: |
            【事实摘要】
            {{#1000000000002.fact_summary#}}

            【历史案例证据】
            {{#1000000000003.history_cases_snippets#}}

            【产品知识证据】
            {{#1000000000004.product_knowledge_snippets#}}

            请输出 JSON。
        selected: false
        structured_output_enabled: false
        title: generate_customer_letter_problem_desc
        type: llm
        variables: []
        vision:
          enabled: false
      height: 220
      id: '1000000000005'
      position:
        x: 1660
        y: 140
      positionAbsolute:
        x: 1660
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 生成 5Y 根本原因分析
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: system-prompt
          role: system
          text: |
            你是设备故障分析工程师。
            仅基于输入事实与证据输出 5Y，禁止臆造。
            输出必须是合法 JSON，仅包含键：five_why_table, evidence_citation。
            five_why_table 为数组，每项含 question_index, question, analysis。
        - id: user-prompt
          role: user
          text: |
            【事实摘要】
            {{#1000000000002.fact_summary#}}

            【故障摘要】
            {{#1000000000002.normalized_fault_summary#}}

            【历史案例证据】
            {{#1000000000003.history_cases_snippets#}}

            【产品知识证据】
            {{#1000000000004.product_knowledge_snippets#}}

            请输出 JSON。
        selected: false
        structured_output_enabled: false
        title: generate_five_why
        type: llm
        variables: []
        vision:
          enabled: false
      height: 220
      id: '1000000000006'
      position:
        x: 2060
        y: 140
      positionAbsolute:
        x: 2060
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 320
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 生成原因总结与责任建议
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: system-prompt
          role: system
          text: |
            你是故障归因审核助手。
            只能基于输入依据生成，不得新增事实。
            责任归属只允许“建议方向”，并包含“【待人工审核】”。
            输出必须是合法 JSON，仅包含键：root_cause_summary, responsibility_judgement, audit_metrics, evidence_citation。
            audit_metrics 必含键：evidence_sufficiency, responsibility_confidence, risk_tips, hallucination_check。
            responsibility_confidence 必须是 0~100 整数。
        - id: user-prompt
          role: user
          text: |
            【事实摘要】
            {{#1000000000002.fact_summary#}}

            【5Y结果】
            {{#1000000000006.text#}}

            【历史案例证据】
            {{#1000000000003.history_cases_snippets#}}

            【产品知识证据】
            {{#1000000000004.product_knowledge_snippets#}}

            请输出 JSON。
        selected: false
        structured_output_enabled: false
        title: generate_root_cause_and_responsibility
        type: llm
        variables: []
        vision:
          enabled: false
      height: 240
      id: '1000000000007'
      position:
        x: 2460
        y: 140
      positionAbsolute:
        x: 2460
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 340
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 生成解决方案章节
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: system-prompt
          role: system
          text: |
            你是售后技术方案工程师。
            仅基于输入依据生成，不得新增未提供事实。
            输出必须是合法 JSON，仅包含键：temporary_measures, corrective_actions, preventive_actions,
            customer_side_actions, internal_quality_actions, evidence_citation。
            依据不足处明确标注“【证据不足】”。
        - id: user-prompt
          role: user
          text: |
            【事实摘要】
            {{#1000000000002.fact_summary#}}

            【根因与责任建议】
            {{#1000000000007.text#}}

            【历史案例证据】
            {{#1000000000003.history_cases_snippets#}}

            【产品知识证据】
            {{#1000000000004.product_knowledge_snippets#}}

            请输出 JSON。
        selected: false
        structured_output_enabled: false
        title: generate_solution
        type: llm
        variables: []
        vision:
          enabled: false
      height: 230
      id: '1000000000008'
      position:
        x: 2880
        y: 140
      positionAbsolute:
        x: 2880
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 340
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 章节润色（不新增事实）
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: system-prompt
          role: system
          text: |
            你是报告润色助手。只做表达规范化，不得新增事实。
            输出必须是合法 JSON，仅包含键：
            customer_letter, problem_description_refined, five_why_table,
            root_cause_summary, responsibility_judgement,
            temporary_measures, corrective_actions, preventive_actions,
            customer_side_actions, internal_quality_actions, evidence_citation。
        - id: user-prompt
          role: user
          text: |
            【节点输出-客户说明与问题描述】
            {{#1000000000005.text#}}

            【节点输出-5Y】
            {{#1000000000006.text#}}

            【节点输出-根因与责任】
            {{#1000000000007.text#}}

            【节点输出-解决方案】
            {{#1000000000008.text#}}

            请整合并润色后输出 JSON。
        selected: false
        structured_output_enabled: false
        title: polish_report_sections
        type: llm
        variables: []
        vision:
          enabled: false
      height: 230
      id: '1000000000009'
      position:
        x: 3300
        y: 140
      positionAbsolute:
        x: 3300
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 340
    - data:
        code: |
          import json

          DEFAULT_CONFIDENCE = 60

          def _parse_json(text, fallback):
              try:
                  if isinstance(text, dict):
                      return text
                  return json.loads(text)
              except Exception:
                  return fallback

          def _ensure_list(v):
              if isinstance(v, list):
                  return v
              if v is None:
                  return []
              return [str(v)]

          def _normalize_confidence(v):
              corrected = False
              score = DEFAULT_CONFIDENCE
              try:
                  if isinstance(v, str):
                      score = int(float(v.strip()))
                  else:
                      score = int(v)
              except Exception:
                  score = DEFAULT_CONFIDENCE
                  corrected = True
              bounded = max(0, min(100, score))
              if bounded != score:
                  corrected = True
              return bounded, corrected

          def main(
              report_id: str,
              customer_name: str,
              site_name: str,
              device_model: str,
              device_sn: str,
              fault_time: str,
              fault_count: int,
              fault_description: str,
              missing_required_fields: list,
              history_cases_snippets: list,
              product_knowledge_snippets: list,
              history_retrieval_status: str,
              product_retrieval_status: str,
              history_retrieval_notes: list,
              product_retrieval_notes: list,
              n5_text: str,
              n6_text: str,
              n7_text: str,
              n8_text: str,
              n9_text: str
          ) -> dict:
              n5 = _parse_json(n5_text, {
                  'customer_letter': '【证据不足】需人工补充。',
                  'problem_description_refined': fault_description,
                  'evidence_citation': ['用户输入事实']
              })
              n6 = _parse_json(n6_text, {
                  'five_why_table': [],
                  'evidence_citation': ['用户输入事实']
              })
              n7 = _parse_json(n7_text, {
                  'root_cause_summary': '【证据不足】需人工审核。',
                  'responsibility_judgement': '【证据不足】【待人工审核】仅建议责任方向。',
                  'audit_metrics': {
                      'evidence_sufficiency': '低',
                      'responsibility_confidence': DEFAULT_CONFIDENCE,
                      'risk_tips': ['根因与责任节点输出解析失败，已使用兜底。'],
                      'hallucination_check': '疑似'
                  },
                  'evidence_citation': ['用户输入事实']
              })
              n8 = _parse_json(n8_text, {
                  'temporary_measures': '【证据不足】需人工补充。',
                  'corrective_actions': '【证据不足】需人工补充。',
                  'preventive_actions': '【证据不足】需人工补充。',
                  'customer_side_actions': '【证据不足】需人工补充。',
                  'internal_quality_actions': '【证据不足】需人工补充。',
                  'evidence_citation': ['用户输入事实']
              })
              n9 = _parse_json(n9_text, {})

              audit_metrics = n7.get('audit_metrics', {}) if isinstance(n7, dict) else {}
              if not isinstance(audit_metrics, dict):
                  audit_metrics = {}
              audit_metrics.setdefault('evidence_sufficiency', '中')
              audit_metrics.setdefault('responsibility_confidence', DEFAULT_CONFIDENCE)
              audit_metrics.setdefault('risk_tips', [])
              audit_metrics.setdefault('hallucination_check', '无')
              audit_metrics['risk_tips'] = _ensure_list(audit_metrics.get('risk_tips', []))

              normalized_score, corrected = _normalize_confidence(audit_metrics.get('responsibility_confidence'))
              audit_metrics['responsibility_confidence'] = normalized_score
              if corrected:
                  audit_metrics['risk_tips'].append(
                      'responsibility_confidence 非法或越界，已自动校正到 0~100 整数范围。'
                  )

              if history_retrieval_status == 'failed' or product_retrieval_status == 'failed':
                  audit_metrics['risk_tips'].append('检索证据不足：当前链路未接入知识库，仅基于输入事实。')

              if missing_required_fields:
                  audit_metrics['risk_tips'].append('核心字段缺失：' + ', '.join(missing_required_fields))

              sections = {
                  'customer_letter': n9.get('customer_letter', n5.get('customer_letter', '【证据不足】需人工补充。')),
                  'problem_description_refined': n9.get('problem_description_refined', n5.get('problem_description_refined', fault_description)),
                  'five_why_table': n9.get('five_why_table', n6.get('five_why_table', [])),
                  'root_cause_summary': n9.get('root_cause_summary', n7.get('root_cause_summary', '【证据不足】需人工审核。')),
                  'responsibility_judgement': n9.get('responsibility_judgement', n7.get('responsibility_judgement', '【证据不足】【待人工审核】仅建议责任方向。')),
                  'temporary_measures': n9.get('temporary_measures', n8.get('temporary_measures', '【证据不足】需人工补充。')),
                  'corrective_actions': n9.get('corrective_actions', n8.get('corrective_actions', '【证据不足】需人工补充。')),
                  'preventive_actions': n9.get('preventive_actions', n8.get('preventive_actions', '【证据不足】需人工补充。')),
                  'customer_side_actions': n9.get('customer_side_actions', n8.get('customer_side_actions', '【证据不足】需人工补充。')),
                  'internal_quality_actions': n9.get('internal_quality_actions', n8.get('internal_quality_actions', '【证据不足】需人工补充。'))
              }

              evidence_citation = []
              evidence_citation.extend(_ensure_list(n5.get('evidence_citation', [])))
              evidence_citation.extend(_ensure_list(n6.get('evidence_citation', [])))
              evidence_citation.extend(_ensure_list(n7.get('evidence_citation', [])))
              evidence_citation.extend(_ensure_list(n8.get('evidence_citation', [])))
              evidence_citation.extend(_ensure_list(n9.get('evidence_citation', [])))
              if not evidence_citation:
                  evidence_citation = ['用户输入事实']

              final_json = {
                  'report_id': report_id,
                  'basic_info': {
                      'customer_name': customer_name,
                      'site_name': site_name,
                      'device_model': device_model,
                      'device_sn': device_sn,
                      'fault_time': fault_time,
                      'fault_count': fault_count,
                      'fault_description': fault_description
                  },
                  'sections': sections,
                  'evidence_citation': evidence_citation,
                  'audit_metrics': audit_metrics,
                  'ext_info': {
                      'missing_required_fields': missing_required_fields,
                      'history_retrieval_status': history_retrieval_status,
                      'product_retrieval_status': product_retrieval_status,
                      'history_retrieval_notes': history_retrieval_notes,
                      'product_retrieval_notes': product_retrieval_notes,
                      'history_cases_snippets': history_cases_snippets,
                      'product_knowledge_snippets': product_knowledge_snippets
                  }
              }

              return {
                  'final_json': json.dumps(final_json, ensure_ascii=False, indent=2)
              }
        code_language: python3
        desc: 汇总最终 JSON（10节点输出）
        outputs:
          final_json:
            children: null
            type: string
        selected: false
        title: assemble_final_json
        type: code
        variables:
        - value_selector:
          - '1000000000002'
          - report_id
          variable: report_id
        - value_selector:
          - '1000000000002'
          - customer_name
          variable: customer_name
        - value_selector:
          - '1000000000002'
          - site_name
          variable: site_name
        - value_selector:
          - '1000000000002'
          - device_model
          variable: device_model
        - value_selector:
          - '1000000000002'
          - device_sn
          variable: device_sn
        - value_selector:
          - '1000000000002'
          - fault_time
          variable: fault_time
        - value_selector:
          - '1000000000002'
          - fault_count
          variable: fault_count
        - value_selector:
          - '1000000000002'
          - fault_description
          variable: fault_description
        - value_selector:
          - '1000000000002'
          - missing_required_fields
          variable: missing_required_fields
        - value_selector:
          - '1000000000003'
          - history_cases_snippets
          variable: history_cases_snippets
        - value_selector:
          - '1000000000004'
          - product_knowledge_snippets
          variable: product_knowledge_snippets
        - value_selector:
          - '1000000000003'
          - history_retrieval_status
          variable: history_retrieval_status
        - value_selector:
          - '1000000000004'
          - product_retrieval_status
          variable: product_retrieval_status
        - value_selector:
          - '1000000000003'
          - history_retrieval_notes
          variable: history_retrieval_notes
        - value_selector:
          - '1000000000004'
          - product_retrieval_notes
          variable: product_retrieval_notes
        - value_selector:
          - '1000000000005'
          - text
          variable: n5_text
        - value_selector:
          - '1000000000006'
          - text
          variable: n6_text
        - value_selector:
          - '1000000000007'
          - text
          variable: n7_text
        - value_selector:
          - '1000000000008'
          - text
          variable: n8_text
        - value_selector:
          - '1000000000009'
          - text
          variable: n9_text
      height: 280
      id: '1000000000010'
      position:
        x: 3720
        y: 140
      positionAbsolute:
        x: 3720
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 360
    - data:
        desc: 输出结构化报告 JSON
        outputs:
        - value_selector:
          - '1000000000010'
          - final_json
          variable: final_json
        selected: false
        title: 输出结果
        type: end
      height: 100
      id: '1000000000011'
      position:
        x: 4140
        y: 140
      positionAbsolute:
        x: 4140
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 260
    viewport:
      x: 0
      y: 0
      zoom: 0.45
  rag_pipeline_variables: []
