Report-Generation-Assistant-accuracy-v2.yml
app:
  description: 设备故障报告生成工作流（精度优先版：事实优先、证据门控、串行复核）
  icon: 🤖
  icon_background: '#E4FBCC'
  mode: workflow
  name: Report-Generation-Assistant-Accuracy-v2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.0@a2dd9bb656a2722292e8936f3287d53ba176cfbbe9b8bfafc596d4a2ddd99eb2
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1000000000001-source-1000000000002-target
      source: '1000000000001'
      sourceHandle: source
      target: '1000000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1000000000002-source-1000000000014-target
      source: '1000000000002'
      sourceHandle: source
      target: '1000000000014'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1000000000014-source-1000000000003-target
      source: '1000000000014'
      sourceHandle: source
      target: '1000000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1000000000003-source-1000000000004-target
      source: '1000000000003'
      sourceHandle: source
      target: '1000000000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1000000000004-source-1000000000005-target
      source: '1000000000004'
      sourceHandle: source
      target: '1000000000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1000000000005-source-1000000000006-target
      source: '1000000000005'
      sourceHandle: source
      target: '1000000000006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1000000000006-source-1000000000012-target
      source: '1000000000006'
      sourceHandle: source
      target: '1000000000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1000000000012-source-1000000000007-target
      source: '1000000000012'
      sourceHandle: source
      target: '1000000000007'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1000000000007-source-1000000000008-target
      source: '1000000000007'
      sourceHandle: source
      target: '1000000000008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1000000000008-source-1000000000013-target
      source: '1000000000008'
      sourceHandle: source
      target: '1000000000013'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1000000000013-source-1000000000009-target
      source: '1000000000013'
      sourceHandle: source
      target: '1000000000009'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1000000000009-source-1000000000010-target
      source: '1000000000009'
      sourceHandle: source
      target: '1000000000010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1000000000010-source-1000000000011-target
      source: '1000000000010'
      sourceHandle: source
      target: '1000000000011'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: start_input
        type: start
        variables:
        - label: report_id
          max_length: 64
          options: []
          required: false
          type: text-input
          variable: report_id
        - label: customer_name
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: customer_name
        - label: site_name
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: site_name
        - label: device_model
          max_length: 128
          options: []
          required: true
          type: text-input
          variable: device_model
        - label: device_sn
          max_length: 128
          options: []
          required: false
          type: text-input
          variable: device_sn
        - label: fault_time
          max_length: 64
          options: []
          required: true
          type: text-input
          variable: fault_time
        - label: fault_count
          max_length: 8
          options: []
          required: false
          type: text-input
          variable: fault_count
        - label: fault_description
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: fault_description
        - label: fault_cause
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: fault_cause
        - label: event_record_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: event_record_text
        - label: waveform_analysis_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: waveform_analysis_text
        - label: overall_appearance_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: overall_appearance_text
        - label: upper_board_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: upper_board_text
        - label: lower_board_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: lower_board_text
        - label: power_device_measure_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: power_device_measure_text
        - label: site_research_text
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: site_research_text
      height: 498
      id: '1000000000001'
      position:
        x: 188.841821786252
        y: -116.55319640308284
      positionAbsolute:
        x: 188.841821786252
        y: -116.55319640308284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import re

          def _norm(v, default='无'):
              if v is None:
                  return default
              s = str(v).strip()
              return s if s else default

          def _to_int(v, default=1):
              try:
                  n = int(str(v).strip())
                  return n if n > 0 else default
              except (ValueError, TypeError):
                  return default

          def _keywords(*parts):
              tokens = []
              for p in parts:
                  s = _norm(p, '')
                  if not s:
                      continue
                  for t in re.split(r'[\s,，;；。.!！？/\\|-]+', s):
                      t = t.strip()
                      if len(t) >= 2:
                          tokens.append(t)
              dedup = []
              seen = set()
              for t in tokens:
                  if t not in seen:
                      seen.add(t)
                      dedup.append(t)
              return dedup[:12]

          def main(
              report_id: str = '',
              customer_name: str = '',
              site_name: str = '',
              device_model: str = '',
              device_sn: str = '',
              fault_time: str = '',
              fault_count: str = '1',
              fault_description: str = '',
              fault_cause: str = '',
              event_record_text: str = '',
              waveform_analysis_text: str = '',
              overall_appearance_text: str = '',
              upper_board_text: str = '',
              lower_board_text: str = '',
              power_device_measure_text: str = '',
              site_research_text: str = ''
          ) -> dict:
              missing = []
              if not str(device_model).strip():
                  missing.append('device_model')
              if not str(fault_time).strip():
                  missing.append('fault_time')
              if not str(fault_description).strip():
                  missing.append('fault_description')

              normalized_fault_summary = '；'.join([
                  f"机型：{_norm(device_model, '')}",
                  f"时间：{_norm(fault_time, '')}",
                  f"问题：{_norm(fault_description, '')}",
                  f"导向：{_norm(fault_cause)}"
              ])

              retrieval_keywords = _keywords(
                  device_model,
                  fault_description,
                  fault_cause,
                  event_record_text,
                  waveform_analysis_text
              )

              possible_parts = _keywords(
                  upper_board_text,
                  lower_board_text,
                  power_device_measure_text
              )
              possible_environment_factors = _keywords(site_research_text, overall_appearance_text)

              fact_summary = '\n'.join([
                  f"客户名称：{_norm(customer_name)}",
                  f"现场名称：{_norm(site_name)}",
                  f"设备型号：{_norm(device_model, '')}",
                  f"设备条码：{_norm(device_sn)}",
                  f"故障时间：{_norm(fault_time, '')}",
                  f"故障数量：{_to_int(fault_count)}",
                  f"故障描述：{_norm(fault_description, '')}",
                  f"故障原因导向：{_norm(fault_cause)}",
                  f"事件记录分析：{_norm(event_record_text)}",
                  f"波形分析：{_norm(waveform_analysis_text)}",
                  f"整体外观分析：{_norm(overall_appearance_text)}",
                  f"开盖上层板分析：{_norm(upper_board_text)}",
                  f"开盖下层板分析：{_norm(lower_board_text)}",
                  f"功率器件测量分析：{_norm(power_device_measure_text)}",
                  f"现场调研分析：{_norm(site_research_text)}"
              ])

              return {
                  'report_id': _norm(report_id, ''),
                  'customer_name': _norm(customer_name),
                  'site_name': _norm(site_name),
                  'device_model': _norm(device_model, ''),
                  'device_sn': _norm(device_sn),
                  'fault_time': _norm(fault_time, ''),
                  'fault_count': _to_int(fault_count),
                  'fault_description': _norm(fault_description, ''),
                  'fault_cause': _norm(fault_cause),
                  'normalized_fault_summary': normalized_fault_summary,
                  'retrieval_keywords': retrieval_keywords,
                  'possible_parts': possible_parts,
                  'possible_environment_factors': possible_environment_factors,
                  'fact_summary': fact_summary,
                  'missing_required_fields': missing
              }
        code_language: python3
        desc: 输入清洗与关键词提取
        outputs:
          customer_name:
            children: null
            type: string
          device_model:
            children: null
            type: string
          device_sn:
            children: null
            type: string
          fact_summary:
            children: null
            type: string
          fault_cause:
            children: null
            type: string
          fault_count:
            children: null
            type: number
          fault_description:
            children: null
            type: string
          fault_time:
            children: null
            type: string
          missing_required_fields:
            children: null
            type: array[string]
          normalized_fault_summary:
            children: null
            type: string
          possible_environment_factors:
            children: null
            type: array[string]
          possible_parts:
            children: null
            type: array[string]
          report_id:
            children: null
            type: string
          retrieval_keywords:
            children: null
            type: array[string]
          site_name:
            children: null
            type: string
        selected: false
        title: preprocess_input
        type: code
        variables:
        - value_selector:
          - '1000000000001'
          - report_id
          variable: report_id
        - value_selector:
          - '1000000000001'
          - customer_name
          variable: customer_name
        - value_selector:
          - '1000000000001'
          - site_name
          variable: site_name
        - value_selector:
          - '1000000000001'
          - device_model
          variable: device_model
        - value_selector:
          - '1000000000001'
          - device_sn
          variable: device_sn
        - value_selector:
          - '1000000000001'
          - fault_time
          variable: fault_time
        - value_selector:
          - '1000000000001'
          - fault_count
          variable: fault_count
        - value_selector:
          - '1000000000001'
          - fault_description
          variable: fault_description
        - value_selector:
          - '1000000000001'
          - fault_cause
          variable: fault_cause
        - value_selector:
          - '1000000000001'
          - event_record_text
          variable: event_record_text
        - value_selector:
          - '1000000000001'
          - waveform_analysis_text
          variable: waveform_analysis_text
        - value_selector:
          - '1000000000001'
          - overall_appearance_text
          variable: overall_appearance_text
        - value_selector:
          - '1000000000001'
          - upper_board_text
          variable: upper_board_text
        - value_selector:
          - '1000000000001'
          - lower_board_text
          variable: lower_board_text
        - value_selector:
          - '1000000000001'
          - power_device_measure_text
          variable: power_device_measure_text
        - value_selector:
          - '1000000000001'
          - site_research_text
          variable: site_research_text
      height: 79
      id: '1000000000002'
      position:
        x: 615.9524610668686
        y: -95.55319640308284
      positionAbsolute:
        x: 615.9524610668686
        y: -95.55319640308284
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          def main(
              missing_required_fields: list = None,
              fault_description: str = '',
              fault_count: int = 1,
              event_record_text: str = '',
              waveform_analysis_text: str = '',
              overall_appearance_text: str = '',
              upper_board_text: str = '',
              lower_board_text: str = '',
              power_device_measure_text: str = '',
              site_research_text: str = '',
              device_model: str = '',
              fault_time: str = '',
              device_sn: str = ''
          ) -> dict:
              quality_score = 100
              quality_issues = []

              missing = missing_required_fields or []
              if missing:
                  quality_score -= len(missing) * 15
                  quality_issues.append('核心必填字段缺失: ' + ', '.join(missing))

              fault_desc_len = len(fault_description.strip()) if fault_description else 0
              if fault_desc_len < 20:
                  quality_score -= 25
                  quality_issues.append(f'故障描述过于简略（{fault_desc_len}字，建议≥20字）')
              elif fault_desc_len < 50:
                  quality_score -= 10
                  quality_issues.append(f'故障描述较短（{fault_desc_len}字），建议补充更多细节')

              if fault_count > 10:
                  quality_issues.append(f'故障数量异常（{fault_count}），请确认是否准确')

              analysis_fields = {
                  'event_record_text': '事件记录分析',
                  'waveform_analysis_text': '波形分析',
                  'overall_appearance_text': '整体外观分析',
                  'upper_board_text': '开盖上层板分析',
                  'lower_board_text': '开盖下层板分析',
                  'power_device_measure_text': '功率器件测量分析',
                  'site_research_text': '现场调研分析'
              }

              provided_analysis = []
              missing_analysis = []
              for field, label in analysis_fields.items():
                  value = locals().get(field, '')
                  if value and len(value.strip()) > 10:
                      provided_analysis.append(label)
                  else:
                      missing_analysis.append(label)

              if len(provided_analysis) == 0:
                  quality_score -= 20
                  quality_issues.append('缺少所有分析数据（事件记录、波形分析、外观分析等），报告质量将严重受限')
              elif len(provided_analysis) <= 2:
                  quality_score -= 10
                  quality_issues.append('分析数据较少（仅' + str(len(provided_analysis)) + '项），建议补充: ' + ', '.join(missing_analysis[:3]))

              if not device_sn or not device_sn.strip():
                  quality_issues.append('设备条码为空，可能影响产品知识检索准确性')

              if fault_time and len(fault_time.strip()) < 8:
                  quality_issues.append(f'故障时间格式可能不规范（{fault_time}），建议使用YYYY-MM-DD格式')

              quality_score = max(0, quality_score)
              if quality_score >= 80:
                  quality_level = 'high'
                  recommendation = '输入质量良好，可继续执行工作流'
              elif quality_score >= 60:
                  quality_level = 'medium'
                  recommendation = '输入质量一般，建议补充部分信息以提高报告准确性'
              elif quality_score >= 40:
                  quality_level = 'low'
                  recommendation = '输入质量较差，强烈建议人工审核并补充关键信息'
              else:
                  quality_level = 'critical'
                  recommendation = '输入质量极差，建议拒绝自动生成并返回人工填写'

              return {
                  'quality_score': quality_score,
                  'quality_level': quality_level,
                  'quality_issues': quality_issues,
                  'provided_analysis_count': len(provided_analysis),
                  'missing_analysis_fields': missing_analysis,
                  'recommendation': recommendation,
                  'should_proceed': quality_score >= 40
              }
        code_language: python3
        desc: 输入质量检查：验证必填字段、描述详细度、分析数据完整性
        outputs:
          missing_analysis_fields:
            children: null
            type: array[string]
          provided_analysis_count:
            children: null
            type: number
          quality_issues:
            children: null
            type: array[string]
          quality_level:
            children: null
            type: string
          quality_score:
            children: null
            type: number
          recommendation:
            children: null
            type: string
          should_proceed:
            children: null
            type: boolean
        selected: false
        title: validate_input_quality
        type: code
        variables:
        - value_selector:
          - '1000000000002'
          - missing_required_fields
          variable: missing_required_fields
        - value_selector:
          - '1000000000002'
          - fault_description
          variable: fault_description
        - value_selector:
          - '1000000000002'
          - fault_count
          variable: fault_count
        - value_selector:
          - '1000000000002'
          - event_record_text
          variable: event_record_text
        - value_selector:
          - '1000000000002'
          - waveform_analysis_text
          variable: waveform_analysis_text
        - value_selector:
          - '1000000000002'
          - overall_appearance_text
          variable: overall_appearance_text
        - value_selector:
          - '1000000000002'
          - upper_board_text
          variable: upper_board_text
        - value_selector:
          - '1000000000002'
          - lower_board_text
          variable: lower_board_text
        - value_selector:
          - '1000000000002'
          - power_device_measure_text
          variable: power_device_measure_text
        - value_selector:
          - '1000000000002'
          - site_research_text
          variable: site_research_text
        - value_selector:
          - '1000000000002'
          - device_model
          variable: device_model
        - value_selector:
          - '1000000000002'
          - fault_time
          variable: fault_time
        - value_selector:
          - '1000000000002'
          - device_sn
          variable: device_sn
      height: 79
      id: '1000000000014'
      position:
        x: 742.1141672700217
        y: -103.67572041698224
      positionAbsolute:
        x: 742.1141672700217
        y: -103.67572041698224
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          MVP_HISTORY_PLACEHOLDER_NOTE = '当前节点为占位实现，后续替换为 Knowledge Retrieval 节点。'

          def main(
              retrieval_keywords: list = None,
              device_model: str = '',
              fault_description: str = ''
          ) -> dict:
              kws = retrieval_keywords or []
              notes = [MVP_HISTORY_PLACEHOLDER_NOTE, 'MVP 阶段未接入历史案例知识库，返回空证据数组。']
              if not kws:
                  notes.append('检索关键词为空，无法执行历史案例检索。')
              query_preview = f"{device_model} | {fault_description}".strip()
              return {
                  'history_cases_snippets': [],
                  'history_retrieval_status': 'no_knowledge_base',
                  'history_retrieval_notes': notes,
                  'history_query_preview': query_preview
              }
        code_language: python3
        desc: 历史案例检索占位（无知识库）
        outputs:
          history_cases_snippets:
            children: null
            type: array[string]
          history_query_preview:
            children: null
            type: string
          history_retrieval_notes:
            children: null
            type: array[string]
          history_retrieval_status:
            children: null
            type: string
        selected: false
        title: retrieve_history_cases
        type: code
        variables:
        - value_selector:
          - '1000000000002'
          - retrieval_keywords
          variable: retrieval_keywords
        - value_selector:
          - '1000000000002'
          - device_model
          variable: device_model
        - value_selector:
          - '1000000000002'
          - fault_description
          variable: fault_description
      height: 79
      id: '1000000000003'
      position:
        x: 880.1141672700217
        y: 316.450913866344
      positionAbsolute:
        x: 880.1141672700217
        y: 316.450913866344
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          MVP_PRODUCT_PLACEHOLDER_NOTE = '当前节点为占位实现，后续替换为 Knowledge Retrieval 节点。'

          def main(
              retrieval_keywords: list = None,
              possible_parts: list = None,
              possible_environment_factors: list = None
          ) -> dict:
              kws = retrieval_keywords or []
              parts = possible_parts or []
              envs = possible_environment_factors or []
              notes = [MVP_PRODUCT_PLACEHOLDER_NOTE, 'MVP 阶段未接入产品知识库，返回空证据数组。']
              if not kws and not parts and not envs:
                  notes.append('缺少可检索线索，无法执行产品知识检索。')
              query_preview = ' | '.join((kws + parts + envs)[:8])
              return {
                  'product_knowledge_snippets': [],
                  'product_retrieval_status': 'no_knowledge_base',
                  'product_retrieval_notes': notes,
                  'product_query_preview': query_preview
              }
        code_language: python3
        desc: 产品知识检索占位（无知识库）
        outputs:
          product_knowledge_snippets:
            children: null
            type: array[string]
          product_query_preview:
            children: null
            type: string
          product_retrieval_notes:
            children: null
            type: array[string]
          product_retrieval_status:
            children: null
            type: string
        selected: false
        title: retrieve_product_knowledge
        type: code
        variables:
        - value_selector:
          - '1000000000002'
          - retrieval_keywords
          variable: retrieval_keywords
        - value_selector:
          - '1000000000002'
          - possible_parts
          variable: possible_parts
        - value_selector:
          - '1000000000002'
          - possible_environment_factors
          variable: possible_environment_factors
      height: 79
      id: '1000000000004'
      position:
        x: 1133.2886253831693
        y: -103.67572041698224
      positionAbsolute:
        x: 1133.2886253831693
        y: -103.67572041698224
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 生成致客户说明与问题描述
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen3-32b
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: system-prompt
          role: system
          text: |-
            你是设备故障报告专业撰写人（精度优先）。
            严格规则：
            - 仅可基于【事实摘要】与证据片段生成，不得新增任何未给定事实；
            - 历史案例仅作参考，不得当作本次已发生事实；
            - 若证据不足必须标注“【证据不足】”；
            - 输出必须是合法 JSON，仅包含键：customer_letter, problem_description_refined, evidence_citation；
            - evidence_citation 必须为数组，数组每项是对象，且仅含键：claim, source, quote。
        - id: user-prompt
          role: user
          text: |-
            【事实摘要】
            {{#1000000000002.fact_summary#}}

            【历史案例证据】
            {{#1000000000003.history_cases_snippets#}}

            【产品知识证据】
            {{#1000000000004.product_knowledge_snippets#}}

            【历史检索状态】
            {{#1000000000003.history_retrieval_status#}}

            【产品检索状态】
            {{#1000000000004.product_retrieval_status#}}

            {% if history_cases_snippets | length == 0 %}
            【警告】无历史案例数据，请仅基于事实摘要生成，不得假设历史结论。
            {% endif %}
            {% if product_knowledge_snippets | length == 0 %}
            【警告】无产品知识数据，请仅基于事实摘要生成，不得补充原理性结论。
            {% endif %}

            请输出 JSON。
        selected: false
        structured_output_enabled: false
        title: generate_customer_letter_problem_desc
        type: llm
        variables: []
        vision:
          enabled: false
      height: 115
      id: '1000000000005'
      position:
        x: 1398.454726752439
        y: 308.9484994891077
      positionAbsolute:
        x: 1398.454726752439
        y: 308.9484994891077
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 生成 5Y 根本原因分析
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen3-32b
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: system-prompt
          role: system
          text: |-
            你是设备故障分析工程师（精度优先）。
            严格规则：
            - 仅基于输入事实与证据输出 5Y，禁止臆造；
            - question_index 必须为 1~5 且严格递增；
            - 后一层不得引入与前文和事实摘要冲突的新假设；
            - 证据不足时明确写“【证据不足】”；
            - 输出必须是合法 JSON，仅包含键：five_why_table, evidence_citation；
            - five_why_table 为数组，每项含 question_index, question, analysis；
            - evidence_citation 必须为数组，数组每项是对象，且仅含键：claim, source, quote。
        - id: user-prompt
          role: user
          text: |-
            【事实摘要】
            {{#1000000000002.fact_summary#}}

            【故障摘要】
            {{#1000000000002.normalized_fault_summary#}}

            【历史案例证据】
            {{#1000000000003.history_cases_snippets#}}

            【产品知识证据】
            {{#1000000000004.product_knowledge_snippets#}}

            {% if history_cases_snippets | length == 0 %}
            【警告】无历史案例数据，请仅基于事实摘要生成，不得假设历史结论。
            {% endif %}
            {% if product_knowledge_snippets | length == 0 %}
            【警告】无产品知识数据，请仅基于事实摘要生成，不得补充原理性结论。
            {% endif %}

            请输出 JSON。
        selected: false
        structured_output_enabled: false
        title: generate_five_why
        type: llm
        variables: []
        vision:
          enabled: false
      height: 115
      id: '1000000000006'
      position:
        x: 1660.3718185161488
        y: -118.29626364200124
      positionAbsolute:
        x: 1660.3718185161488
        y: -118.29626364200124
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json

          def _parse(text):
              try:
                  if isinstance(text, dict):
                      return text
                  return json.loads(text)
              except Exception:
                  return {}

          def main(n6_text: str = '') -> dict:
              raw = _parse(n6_text)
              table = raw.get('five_why_table', []) if isinstance(raw, dict) else []
              warnings = []
              sanitized = []
              expected = 1
              for item in table:
                  if not isinstance(item, dict):
                      warnings.append('five_why_table 存在非对象条目，已忽略。')
                      continue
                  idx = item.get('question_index')
                  try:
                      idx = int(idx)
                  except Exception:
                      idx = expected
                      warnings.append('question_index 非数字，已按顺序重排。')
                  if idx != expected:
                      warnings.append(f'question_index 非递增（期望 {expected}，实际 {idx}），已重排。')
                      idx = expected
                  q = str(item.get('question', '')).strip() or '【证据不足】问题需人工补充。'
                  a = str(item.get('analysis', '')).strip() or '【证据不足】分析需人工补充。'
                  sanitized.append({'question_index': idx, 'question': q, 'analysis': a})
                  expected += 1
                  if expected > 5:
                      break

              while len(sanitized) < 5:
                  i = len(sanitized) + 1
                  sanitized.append({
                      'question_index': i,
                      'question': '【证据不足】问题需人工补充。',
                      'analysis': '【证据不足】分析需人工补充。'
                  })
                  warnings.append('5Y 项不足 5 层，已补齐占位。')

              out = {
                  'five_why_table': sanitized,
                  'evidence_citation': raw.get('evidence_citation', []) if isinstance(raw, dict) else []
              }
              return {
                  'validated_five_why_text': json.dumps(out, ensure_ascii=False),
                  'five_why_validation_warnings': warnings
              }
        code_language: python3
        desc: 5Y 结构校验与重排
        outputs:
          validated_five_why_text:
            children: null
            type: string
          five_why_validation_warnings:
            children: null
            type: array[string]
        selected: false
        title: validate_five_why
        type: code
        variables:
        - value_selector:
          - '1000000000006'
          - text
          variable: n6_text
      height: 79
      id: '1000000000012'
      position:
        x: 1790.0
        y: -118.0
      positionAbsolute:
        x: 1790.0
        y: -118.0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 生成原因总结与责任建议
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen3-32b
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: system-prompt
          role: system
          text: |-
            你是故障归因审核助手（精度优先）。
            严格规则：
            - 仅基于输入依据生成，不得新增事实；
            - 5Y 结果仅可作为候选假设，若与事实冲突，以事实为准；
            - 责任归属只允许“建议方向”，并包含“【待人工审核】”；
            - 证据不足时必须降级表达并写“【证据不足】”；
            - 输出必须是合法 JSON，仅包含键：root_cause_summary, responsibility_judgement, audit_metrics, evidence_citation；
            - audit_metrics 必含键：evidence_sufficiency, responsibility_confidence, risk_tips, hallucination_check；
            - responsibility_confidence 必须是 0~100 整数；
            - evidence_citation 必须为数组，数组每项是对象，且仅含键：claim, source, quote。
        - id: user-prompt
          role: user
          text: |-
            【事实摘要】
            {{#1000000000002.fact_summary#}}

            【5Y结果（已校验）】
            {{#1000000000012.validated_five_why_text#}}

            【5Y校验提示】
            {{#1000000000012.five_why_validation_warnings#}}

            【历史案例证据】
            {{#1000000000003.history_cases_snippets#}}

            【产品知识证据】
            {{#1000000000004.product_knowledge_snippets#}}

            {% if history_cases_snippets | length == 0 %}
            【警告】无历史案例数据，请仅基于事实摘要生成，不得假设历史结论。
            {% endif %}
            {% if product_knowledge_snippets | length == 0 %}
            【警告】无产品知识数据，请仅基于事实摘要生成，不得补充原理性结论。
            {% endif %}

            请输出 JSON。
        selected: false
        structured_output_enabled: false
        title: generate_root_cause_and_responsibility
        type: llm
        variables: []
        vision:
          enabled: false
      height: 115
      id: '1000000000007'
      position:
        x: 1927.1624246881988
        y: 308.9484994891077
      positionAbsolute:
        x: 1927.1624246881988
        y: 308.9484994891077
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 生成解决方案章节
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen3-32b
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: system-prompt
          role: system
          text: |-
            你是售后技术方案工程师（精度优先）。
            严格规则：
            - 仅基于输入依据生成，不得新增未提供事实；
            - 上游“根因与责任建议”仅作候选输入，需与事实/证据二次对齐；
            - 方案必须可执行且与本案事实一致；
            - 无法证明可执行性时写“【证据不足】”；
            - 存在冲突风险时显式标注“【存在冲突待核】”；
            - 输出必须是合法 JSON，仅包含键：temporary_measures, corrective_actions, preventive_actions, customer_side_actions, internal_quality_actions, evidence_citation；
            - evidence_citation 必须为数组，数组每项是对象，且仅含键：claim, source, quote。
        - id: user-prompt
          role: user
          text: |-
            【事实摘要】
            {{#1000000000002.fact_summary#}}

            【根因与责任建议】
            {{#1000000000007.text#}}

            【历史案例证据】
            {{#1000000000003.history_cases_snippets#}}

            【产品知识证据】
            {{#1000000000004.product_knowledge_snippets#}}

            {% if history_cases_snippets | length == 0 %}
            【警告】无历史案例数据，请仅基于事实摘要生成，不得假设历史结论。
            {% endif %}
            {% if product_knowledge_snippets | length == 0 %}
            【警告】无产品知识数据，请仅基于事实摘要生成，不得补充原理性结论。
            {% endif %}

            请输出 JSON。
        selected: false
        structured_output_enabled: false
        title: generate_solution
        type: llm
        variables: []
        vision:
          enabled: false
      height: 115
      id: '1000000000008'
      position:
        x: 2186.3364492129904
        y: -118.29626364200124
      positionAbsolute:
        x: 2186.3364492129904
        y: -118.29626364200124
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json

          def _parse(text):
              try:
                  if isinstance(text, dict):
                      return text
                  return json.loads(text)
              except Exception:
                  return {}

          def _contains_risk(v):
              s = str(v)
              return ('【证据不足】' in s) or ('【存在冲突待核】' in s)

          def main(
              fact_summary: str = '',
              n5_text: str = '',
              n6_validated_text: str = '',
              n7_text: str = '',
              n8_text: str = ''
          ) -> dict:
              n5 = _parse(n5_text)
              n6 = _parse(n6_validated_text)
              n7 = _parse(n7_text)
              n8 = _parse(n8_text)

              warnings = []
              if not str(fact_summary).strip():
                  warnings.append('事实摘要为空，无法执行有效一致性校验。')

              for key in ['root_cause_summary', 'responsibility_judgement']:
                  if _contains_risk(n7.get(key, '')):
                      warnings.append(f'{key} 含证据不足/冲突标记，润色阶段禁止改写为确定性结论。')

              for key in ['temporary_measures', 'corrective_actions', 'preventive_actions', 'customer_side_actions', 'internal_quality_actions']:
                  if _contains_risk(n8.get(key, '')):
                      warnings.append(f'{key} 含证据不足/冲突标记，需在最终稿中保留。')

              checked = {
                  'customer_letter': n5.get('customer_letter', '【证据不足】需人工补充。'),
                  'problem_description_refined': n5.get('problem_description_refined', '【证据不足】需人工补充。'),
                  'five_why_table': n6.get('five_why_table', []),
                  'root_cause_summary': n7.get('root_cause_summary', '【证据不足】需人工审核。'),
                  'responsibility_judgement': n7.get('responsibility_judgement', '【证据不足】【待人工审核】仅建议责任方向。'),
                  'temporary_measures': n8.get('temporary_measures', '【证据不足】需人工补充。'),
                  'corrective_actions': n8.get('corrective_actions', '【证据不足】需人工补充。'),
                  'preventive_actions': n8.get('preventive_actions', '【证据不足】需人工补充。'),
                  'customer_side_actions': n8.get('customer_side_actions', '【证据不足】需人工补充。'),
                  'internal_quality_actions': n8.get('internal_quality_actions', '【证据不足】需人工补充。'),
                  'evidence_citation': (
                      (n5.get('evidence_citation', []) if isinstance(n5, dict) else []) +
                      (n6.get('evidence_citation', []) if isinstance(n6, dict) else []) +
                      (n7.get('evidence_citation', []) if isinstance(n7, dict) else []) +
                      (n8.get('evidence_citation', []) if isinstance(n8, dict) else [])
                  )
              }

              return {
                  'checked_sections_text': json.dumps(checked, ensure_ascii=False),
                  'consistency_warnings': warnings
              }
        code_language: python3
        desc: n8->n9 事实一致性校验
        outputs:
          checked_sections_text:
            children: null
            type: string
          consistency_warnings:
            children: null
            type: array[string]
        selected: false
        title: check_fact_consistency_before_polish
        type: code
        variables:
        - value_selector:
          - '1000000000002'
          - fact_summary
          variable: fact_summary
        - value_selector:
          - '1000000000005'
          - text
          variable: n5_text
        - value_selector:
          - '1000000000012'
          - validated_five_why_text
          variable: n6_validated_text
        - value_selector:
          - '1000000000007'
          - text
          variable: n7_text
        - value_selector:
          - '1000000000008'
          - text
          variable: n8_text
      height: 79
      id: '1000000000013'
      position:
        x: 2318.0
        y: -118.0
      positionAbsolute:
        x: 2318.0
        y: -118.0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 章节润色（不新增事实）
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.05
          mode: chat
          name: qwen3-32b
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: system-prompt
          role: system
          text: |-
            你是报告润色助手（精度优先）。只做表达规范化，不得新增、删改事实结论。
            严格规则：
            - 事实摘要优先级最高；
            - 仅修正文风与结构，不得补充新事实；
            - 不得把“证据不足”改写成确定性结论；
            - 若存在冲突，保留并显式写“【存在冲突待核】”；
            - 输出必须是合法 JSON，仅包含键：customer_letter, problem_description_refined, five_why_table, root_cause_summary, responsibility_judgement, temporary_measures, corrective_actions, preventive_actions, customer_side_actions, internal_quality_actions, evidence_citation；
            - evidence_citation 必须为数组，数组每项是对象，且仅含键：claim, source, quote。
        - id: user-prompt
          role: user
          text: |-
            【事实摘要】
            {{#1000000000002.fact_summary#}}

            【章节一致性校验输出】
            {{#1000000000013.checked_sections_text#}}

            【一致性风险提示】
            {{#1000000000013.consistency_warnings#}}

            请整合并润色后输出 JSON。
        selected: false
        structured_output_enabled: false
        title: polish_report_sections
        type: llm
        variables: []
        vision:
          enabled: false
      height: 115
      id: '1000000000009'
      position:
        x: 2447.134978540562
        y: 308.9484994891077
      positionAbsolute:
        x: 2447.134978540562
        y: 308.9484994891077
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json

          DEFAULT_CONFIDENCE = 60
          LOW_EVIDENCE_MAX_CONFIDENCE = 40
          LOW_INPUT_QUALITY_MAX_CONFIDENCE = 35
          CITATION_DEFAULT_CLAIM = '未命名结论'
          CITATION_DEFAULT_SOURCE = '未知来源'
          CITATION_DEFAULT_QUOTE = '未提供引用片段'
          CITATION_FALLBACK = [{'claim': '用户输入事实', 'source': 'fact_summary', 'quote': '用户输入事实'}]

          def _parse_json(text, fallback):
              try:
                  if isinstance(text, dict):
                      return text
                  parsed = json.loads(text)
                  return parsed if isinstance(parsed, dict) else fallback
              except (json.JSONDecodeError, TypeError):
                  return fallback

          def _ensure_list(v):
              if isinstance(v, list):
                  return v
              if v is None:
                  return []
              return [v]

          def _normalize_confidence(v):
              corrected = False
              score = DEFAULT_CONFIDENCE
              try:
                  if isinstance(v, str):
                      score = round(float(v.strip()))
                  else:
                      score = round(float(v))
              except (ValueError, TypeError):
                  score = DEFAULT_CONFIDENCE
                  corrected = True
              bounded = max(0, min(100, score))
              if bounded != score:
                  corrected = True
              return bounded, corrected

          def _normalize_citations(values):
              out = []
              for item in _ensure_list(values):
                  if isinstance(item, dict):
                      claim = str(item.get('claim', '')).strip() or CITATION_DEFAULT_CLAIM
                      source = str(item.get('source', '')).strip() or CITATION_DEFAULT_SOURCE
                      quote = str(item.get('quote', '')).strip() or CITATION_DEFAULT_QUOTE
                      out.append({'claim': claim, 'source': source, 'quote': quote})
                  else:
                      s = str(item).strip()
                      if s:
                          out.append({'claim': s, 'source': CITATION_DEFAULT_SOURCE, 'quote': s})
              return out

          def main(
              report_id: str,
              customer_name: str,
              site_name: str,
              device_model: str,
              device_sn: str,
              fault_time: str,
              fault_count: int,
              fault_description: str,
              missing_required_fields: list,
              history_cases_snippets: list,
              product_knowledge_snippets: list,
              history_retrieval_status: str,
              product_retrieval_status: str,
              history_retrieval_notes: list,
              product_retrieval_notes: list,
              n5_text: str,
              n6_text: str,
              n6_validated_text: str,
              n7_text: str,
              n8_text: str,
              n9_text: str,
              consistency_warnings: list,
              input_quality_score: int = 100,
              input_quality_level: str = 'high',
              input_quality_issues: list = None,
              input_quality_recommendation: str = '',
              input_quality_should_proceed: bool = True
          ) -> dict:
              citation_fallback = CITATION_FALLBACK

              n5 = _parse_json(n5_text, {
                  'customer_letter': '【证据不足】需人工补充。',
                  'problem_description_refined': fault_description,
                  'evidence_citation': citation_fallback
              })
              n6 = _parse_json(n6_validated_text or n6_text, {
                  'five_why_table': [],
                  'evidence_citation': citation_fallback
              })
              n7 = _parse_json(n7_text, {
                  'root_cause_summary': '【证据不足】需人工审核。',
                  'responsibility_judgement': '【证据不足】【待人工审核】仅建议责任方向。',
                  'audit_metrics': {
                      'evidence_sufficiency': '低',
                      'responsibility_confidence': DEFAULT_CONFIDENCE,
                      'risk_tips': ['根因与责任节点输出解析失败，已使用兜底。'],
                      'hallucination_check': '疑似'
                  },
                  'evidence_citation': citation_fallback
              })
              n8 = _parse_json(n8_text, {
                  'temporary_measures': '【证据不足】需人工补充。',
                  'corrective_actions': '【证据不足】需人工补充。',
                  'preventive_actions': '【证据不足】需人工补充。',
                  'customer_side_actions': '【证据不足】需人工补充。',
                  'internal_quality_actions': '【证据不足】需人工补充。',
                  'evidence_citation': citation_fallback
              })
              n9 = _parse_json(n9_text, {})

              audit_metrics_raw = n7.get('audit_metrics', {}) if isinstance(n7, dict) else {}
              audit_metrics = audit_metrics_raw if isinstance(audit_metrics_raw, dict) else {}
              audit_metrics.setdefault('evidence_sufficiency', '中')
              audit_metrics.setdefault('responsibility_confidence', DEFAULT_CONFIDENCE)
              audit_metrics.setdefault('risk_tips', [])
              audit_metrics.setdefault('hallucination_check', '无')
              audit_metrics['risk_tips'] = [str(x) for x in _ensure_list(audit_metrics.get('risk_tips', []))]

              normalized_score, corrected = _normalize_confidence(audit_metrics.get('responsibility_confidence'))
              if str(audit_metrics.get('evidence_sufficiency')) == '低' and normalized_score > LOW_EVIDENCE_MAX_CONFIDENCE:
                  normalized_score = LOW_EVIDENCE_MAX_CONFIDENCE
                  audit_metrics['risk_tips'].append(f'evidence_sufficiency=低，responsibility_confidence 已按上限 {LOW_EVIDENCE_MAX_CONFIDENCE} 限制。')
              audit_metrics['responsibility_confidence'] = normalized_score
              if corrected:
                  audit_metrics['risk_tips'].append('responsibility_confidence 非法或越界，已自动校正到 0~100 整数范围。')

              if history_retrieval_status in ('failed', 'no_knowledge_base') or product_retrieval_status in ('failed', 'no_knowledge_base'):
                  audit_metrics['risk_tips'].append('检索证据不足：当前链路未接入知识库，仅基于输入事实。')

              if missing_required_fields:
                  audit_metrics['risk_tips'].append('核心字段缺失：' + ', '.join(missing_required_fields))

              if str(input_quality_level).strip() in ('low', 'critical'):
                  audit_metrics['risk_tips'].append(f'输入质量等级为{input_quality_level}，建议人工重点复核。')
                  if normalized_score > LOW_INPUT_QUALITY_MAX_CONFIDENCE:
                      normalized_score = LOW_INPUT_QUALITY_MAX_CONFIDENCE
                      audit_metrics['responsibility_confidence'] = normalized_score
                      audit_metrics['risk_tips'].append(
                          f'输入质量较低，responsibility_confidence 已按上限 {LOW_INPUT_QUALITY_MAX_CONFIDENCE} 限制。'
                      )

              if not bool(input_quality_should_proceed):
                  audit_metrics['risk_tips'].append('输入质量门控建议暂停自动生成并转人工处理。')

              for issue in _ensure_list(input_quality_issues):
                  issue_text = str(issue).strip()
                  if issue_text:
                      audit_metrics['risk_tips'].append('输入质量问题：' + issue_text)

              if str(input_quality_recommendation).strip():
                  audit_metrics['risk_tips'].append('输入质量建议：' + str(input_quality_recommendation).strip())

              for tip in _ensure_list(consistency_warnings):
                  if str(tip).strip():
                      audit_metrics['risk_tips'].append(str(tip).strip())

              sections = {
                  'customer_letter': n9.get('customer_letter', n5.get('customer_letter', '【证据不足】需人工补充。')),
                  'problem_description_refined': n9.get('problem_description_refined', n5.get('problem_description_refined', fault_description)),
                  'five_why_table': n9.get('five_why_table', n6.get('five_why_table', [])),
                  'root_cause_summary': n9.get('root_cause_summary', n7.get('root_cause_summary', '【证据不足】需人工审核。')),
                  'responsibility_judgement': n9.get('responsibility_judgement', n7.get('responsibility_judgement', '【证据不足】【待人工审核】仅建议责任方向。')),
                  'temporary_measures': n9.get('temporary_measures', n8.get('temporary_measures', '【证据不足】需人工补充。')),
                  'corrective_actions': n9.get('corrective_actions', n8.get('corrective_actions', '【证据不足】需人工补充。')),
                  'preventive_actions': n9.get('preventive_actions', n8.get('preventive_actions', '【证据不足】需人工补充。')),
                  'customer_side_actions': n9.get('customer_side_actions', n8.get('customer_side_actions', '【证据不足】需人工补充。')),
                  'internal_quality_actions': n9.get('internal_quality_actions', n8.get('internal_quality_actions', '【证据不足】需人工补充。'))
              }

              evidence_citation = []
              evidence_citation.extend(_normalize_citations(n5.get('evidence_citation', [])))
              evidence_citation.extend(_normalize_citations(n6.get('evidence_citation', [])))
              evidence_citation.extend(_normalize_citations(n7.get('evidence_citation', [])))
              evidence_citation.extend(_normalize_citations(n8.get('evidence_citation', [])))
              evidence_citation.extend(_normalize_citations(n9.get('evidence_citation', [])))
              if not evidence_citation:
                  evidence_citation = citation_fallback

              final_json = {
                  'report_id': report_id,
                  'basic_info': {
                      'customer_name': customer_name,
                      'site_name': site_name,
                      'device_model': device_model,
                      'device_sn': device_sn,
                      'fault_time': fault_time,
                      'fault_count': fault_count,
                      'fault_description': fault_description
                  },
                  'sections': sections,
                  'evidence_citation': evidence_citation,
                  'audit_metrics': audit_metrics,
                  'ext_info': {
                      'missing_required_fields': missing_required_fields,
                      'history_retrieval_status': history_retrieval_status,
                      'product_retrieval_status': product_retrieval_status,
                      'history_retrieval_notes': history_retrieval_notes,
                      'product_retrieval_notes': product_retrieval_notes,
                      'history_cases_snippets': history_cases_snippets,
                      'product_knowledge_snippets': product_knowledge_snippets,
                      'consistency_warnings': _ensure_list(consistency_warnings),
                      'input_quality': {
                          'score': input_quality_score,
                          'level': input_quality_level,
                          'issues': _ensure_list(input_quality_issues),
                          'recommendation': input_quality_recommendation,
                          'should_proceed': bool(input_quality_should_proceed)
                      }
                  }
              }

              return {
                  'final_json': json.dumps(final_json, ensure_ascii=False, indent=2)
              }
        code_language: python3
        desc: 汇总最终 JSON（含输入质量门控、证据门控、置信度约束）
        outputs:
          final_json:
            children: null
            type: string
        selected: false
        title: assemble_final_json
        type: code
        variables:
        - value_selector:
          - '1000000000014'
          - quality_score
          variable: input_quality_score
        - value_selector:
          - '1000000000014'
          - quality_level
          variable: input_quality_level
        - value_selector:
          - '1000000000014'
          - quality_issues
          variable: input_quality_issues
        - value_selector:
          - '1000000000014'
          - recommendation
          variable: input_quality_recommendation
        - value_selector:
          - '1000000000014'
          - should_proceed
          variable: input_quality_should_proceed
        - value_selector:
          - '1000000000002'
          - report_id
          variable: report_id
        - value_selector:
          - '1000000000002'
          - customer_name
          variable: customer_name
        - value_selector:
          - '1000000000002'
          - site_name
          variable: site_name
        - value_selector:
          - '1000000000002'
          - device_model
          variable: device_model
        - value_selector:
          - '1000000000002'
          - device_sn
          variable: device_sn
        - value_selector:
          - '1000000000002'
          - fault_time
          variable: fault_time
        - value_selector:
          - '1000000000002'
          - fault_count
          variable: fault_count
        - value_selector:
          - '1000000000002'
          - fault_description
          variable: fault_description
        - value_selector:
          - '1000000000002'
          - missing_required_fields
          variable: missing_required_fields
        - value_selector:
          - '1000000000003'
          - history_cases_snippets
          variable: history_cases_snippets
        - value_selector:
          - '1000000000004'
          - product_knowledge_snippets
          variable: product_knowledge_snippets
        - value_selector:
          - '1000000000003'
          - history_retrieval_status
          variable: history_retrieval_status
        - value_selector:
          - '1000000000004'
          - product_retrieval_status
          variable: product_retrieval_status
        - value_selector:
          - '1000000000003'
          - history_retrieval_notes
          variable: history_retrieval_notes
        - value_selector:
          - '1000000000004'
          - product_retrieval_notes
          variable: product_retrieval_notes
        - value_selector:
          - '1000000000005'
          - text
          variable: n5_text
        - value_selector:
          - '1000000000006'
          - text
          variable: n6_text
        - value_selector:
          - '1000000000012'
          - validated_five_why_text
          variable: n6_validated_text
        - value_selector:
          - '1000000000007'
          - text
          variable: n7_text
        - value_selector:
          - '1000000000008'
          - text
          variable: n8_text
        - value_selector:
          - '1000000000009'
          - text
          variable: n9_text
        - value_selector:
          - '1000000000013'
          - consistency_warnings
          variable: consistency_warnings
      height: 79
      id: '1000000000010'
      position:
        x: 2688.4394502347754
        y: -103.67572041698224
      positionAbsolute:
        x: 2688.4394502347754
        y: -103.67572041698224
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 输出结构化报告 JSON
        outputs:
        - value_selector:
          - '1000000000010'
          - final_json
          variable: final_json
        selected: false
        title: 输出结果
        type: end
      height: 115
      id: '1000000000011'
      position:
        x: 2939.4909507456673
        y: 308.9484994891077
      positionAbsolute:
        x: 2939.4909507456673
        y: 308.9484994891077
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -368.8886404808304
      y: 268.11818415993014
      zoom: 0.7578582738619731
  rag_pipeline_variables: []
